<div class="Header">
	<div class="Container">
		<div class="logo">
			<img src="imagens/logo_stl_shop.png">
		</div>
		<nav class="nav">
			<ul>
				<li class="submenu">
					<a href="#">New in</a>
					<ul>
						<li>
							<a href="#">Ver Tudo</a>
						</li>
						<li>
							<a href="#">Acessórios</a>
						</li>
						<li>
							<a href="#">Roupas</a>
						</li>
						<li>
							<a href="#">Sapatos</a>
						</li>
						<li>
							<a href="#">Tendências</a>
						</li>
						<li>
							<a href="#">Spring days are coming</a>
						</li>
						<li>
							<a href="#">Oui, it's vintage</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#">Roupas</a>
					<ul>
						<li>
							<a href="#">Ver tudo</a>
						</li>
						<li>
							<a href="#">Blusas</a>
						</li>
						<li>
							<a href="#">Calças</a>
						</li>
						<li>
							<a href="#">Casacos</a>
						</li>
						<li>
							<a href="#">Macacões</a>
						</li>
						<li>
							<a href="#">Saias</a>
						</li>
						<li>
							<a href="#">Shorts</a>
						</li>
						<li>
							<a href="#">Vestidos</a>
						</li>
						<li>
							<a href="#">Kimonos</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#">Sapatos</a>
					<ul>
						<li>
							<a href="#">Ver tudo</a>
						</li>
						<li>
							<a href="#">Flats</a>
						</li>
						<li>
							<a href="#">Tênis</a>
						</li>
						<li>
							<a href="#">Saltos</a>
						</li>
						<li>
							<a href="#">Botas</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#">Acessórios</a>
					<ul>
						<li>
							<a href="#">Ver tudo</a>
						</li>
						<li>
							<a href="#">Anéis</a>
						</li>
						<li>
							<a href="#">Bolsas</a>
						</li>
						<li>
							<a href="#">Boinas</a>
						</li>
						<li>
							<a href="#">Brincos</a>
						</li>
						<li>
							<a href="#">Cintos</a>
						</li>
						<li>
							<a href="#">Chaveiros</a>
						</li>
						<li>
							<a href="#">Colares</a>
						</li>
						<li>
							<a href="#">Golas</a>
						</li>
						<li>
							<a href="#">Lenços</a>
						</li>
						<li>
							<a href="#">Meias</a>
						</li>
						<li>
							<a href="#">Óculos</a>
						</li>
						<li>
							<a href="#">Pingentes</a>
						</li>
						<li>
							<a href="#">Pulseiras</a>
						</li>
						<li>
							<a href="#">Tiaras</a>
						</li>
						<li>
							<a href="#">Tornozeleiras</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Beachwear</a>
				</li>
				<li class="submenu">
					<a href="#">Marcas</a>
					<ul>
						<li>
							<a href="#">Ver tudo</a>
						</li>
						<li>
							<a href="#">Akomb</a>
						</li>
						<li>
							<a href="#">Dicker Swimwear</a>
						</li>
						<li>
							<a href="#">Due panno</a>
						</li>
						<li>
							<a href="#">Calê</a>
						</li>
						<li>
							<a href="#">Higher</a>
						</li>
						<li>
							<a href="#">Luisa Meirelles</a>
						</li>
						<li>
							<a href="#">Revampp</a>
						</li>
						<li>
							<a href="#">Rue</a>
						</li>
						<li>
							<a href="#">The Vintage Shop</a>
						</li>
						<li>
							<a href="#">Soleah</a>
						</li>
						<li>
							<a href="#">Vinci Shoes</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#">Sale</a>
					<ul>
						<li>
							<a href="#">Ver tudo</a>
						</li>
						<li>
							<a href="#">Acessórios</a>
						</li>
						<li>
							<a href="#">Roupas</a>
						</li>
						<li>
							<a href="#">Sapatos</a>
						</li>
						<li>
							<a href="#">BeachWear</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Carnaval</a>
				</li>
			</ul>
		</nav>
		<div class="icones">
			<div class="item">
				<img src="imagens/usuario.png">
			</div>
			<div class="item">
				<img src="imagens/lupa.png">
			</div>
			<div class="item" onmouseover="abreModal();">
				<img src="imagens/sacola.png">
				<div class="numero">
					<div class="bolinha">
						1
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="../js/header.js"></script>