<div class="header Header-mobile">
  <div class="menu">
    <a href="#menu"><img src="imagens/menu-alt-512.png"></a>
  </div>
  <div class="logo">
    <img src="imagens/logo_mobile.png">
  </div>
  <div class="icone">
    <img src="imagens/sacola.png">
  </div>
</div>


<nav id="menu" class="Menu">
  <ul>
    <li><input type="text" placeholder="Procurar por..."></input></li>
    <li><span>About us</span>
      <ul>
        <li><a href="#about/history">History</a></li>
        <li><span>The team</span>
          <ul>
            <li><a href="#about/team/management">Management</a></li>
            <li><a href="#about/team/sales">Sales</a></li>
            <li><a href="#about/team/development">Development</a></li>
          </ul>
        </li>
        <li><a href="#about/address">Our address</a></li>
      </ul>
    </li>
    <li><a href="#contact">Contact</a></li>
    <li class="Divider">Other demos</li>
    <li><a href="advanced.html">Advanced demo</a></li>
    <li><a href="onepage.html">One page demo</a></li>
  </ul>
</nav>

<script src="../js/topoMobile.js"></script>
