<div>
<div class="header Header-mobile">
  <div class="menu" id="btn-menu">
    <a href="#menu"><img src="imagens/menu-alt-512.png"></a>
  </div>
  <div class="logo">
    <img src="imagens/logo_mobile.png">
  </div>
  <div class="icone">
    <img src="imagens/sacola.png">
  </div>
</div>


<nav id="menu" class="Menu">
  <ul>
    <li><input type="text" placeholder="Procurar por..."></input></li>
    <li><a href="#" class="entrar">Entrar</a></li>
    <li><span>New in</span>
      <ul>
        <li><a href="#">Ver Tudo</a></li>
        <li><a href="#">Acessórios</a></li>
        <li><a href="#">Roupas</a></li>
        <li><a href="#">Sapatos</a></li>
        <li><a href="#">Tendências</a></li>
        <li><a href="#">Spring days are coming</a></li>
        <li><a href="#">Oui, it's vintage</a></li>
      </ul>
    </li>
    <li><span>Roupas</span>
      <ul>
        <li><a href="#">Ver Tudo</a></li>
        <li><a href="#">Blusas</a></li>
        <li><a href="#">Calças</a></li>
        <li><a href="#">Casacos</a></li>
        <li><a href="#">Macacões</a></li>
        <li><a href="#">Saias</a></li>
        <li><a href="#">Shorts</a></li>
        <li><a href="#">Vestidos</a></li>
        <li><a href="#">Kimonos</a></li>
      </ul>
    </li>
    <li><span>Sapatos</span>
      <ul>
        <li><a href="#">Ver Tudo</a></li>
        <li><a href="#">Flats</a></li>
        <li><a href="#">Tênis</a></li>
        <li><a href="#">Saltos</a></li>
        <li><a href="#">Botas</a></li>
      </ul>
    </li>
    <li><span>Acessórios</span>
      <ul>
        <li><a href="#">Ver Tudo</a></li>
        <li><a href="#">Anéis</a></li>
        <li><a href="#">Bolsas</a></li>
        <li><a href="#">Boinas</a></li>
        <li><a href="#">Brincos</a></li>
        <li><a href="#">Cintos</a></li>
        <li><a href="#">Chaveiros</a></li>
        <li><a href="#">Colares</a></li>
        <li><a href="#">Golas</a></li>
        <li><a href="#">Lenços</a></li>
        <li><a href="#">Meias</a></li>
        <li><a href="#">Óculos</a></li>
        <li><a href="#">Pingentes</a></li>
        <li><a href="#">Pulseiras</a></li>
        <li><a href="#">Tiaras</a></li>
        <li><a href="#">Tornozeleiras</a></li>
      </ul>
    </li>
    <li><a href="#">Beachwear</a></li>
    <li><span>Marcas</span>
      <ul>
        <li><a href="#">Ver Tudo</a></li>
        <li><a href="#">Akomb</a></li>
        <li><a href="#">Dicker Swimwear</a></li>
        <li><a href="#">Due panno</a></li>
        <li><a href="#">Calê</a></li>
        <li><a href="#">Higher</a></li>
        <li><a href="#">Luisa Meirelles</a></li>
        <li><a href="#">Revampp</a></li>
        <li><a href="#">Rue</a></li>
        <li><a href="#">The Vintage Shop</a></li>
        <li><a href="#">Soleah</a></li>
        <li><a href="#">Vinci Shoes</a></li>
      </ul>
    </li>
    <li><span>Sale</span>
      <ul>
        <li><a href="#">Ver Tudo</a></li>
        <li><a href="#">Acessórios</a></li>
        <li><a href="#">Roupas</a></li>
        <li><a href="#">Sapatos</a></li>
        <li><a href="#">BeachWear</a></li>
      </ul>
    </li>
    <li><a href="#">Carnaval</a></li>
  </ul>
</nav>
</div>

<script src="../js/topoMobile.js"></script>
